/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 1s;
}

header.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.m-h-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 900;
}

.modal-close:hover {
    background-color: rgb(216, 211, 211);
    opacity: 1;
}

.modal-body {
    padding: 16px;
    margin-left: 12px;
}

.modal-label {
    display: block;
}

.modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    margin: 12px 0;
}

#buy-ticket {
    background-color: #009688;
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-ticket:hover {
    opacity: 0.8;
}

.modal-help {
    padding: auto;
    text-align: right;
}

.modal-help a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}